<ion-header>
  <ion-navbar>
    <ion-buttons>
      <button ion-button clear (click)="dismissModal()">Close</button>
    </ion-buttons>
    <ion-title>{{ travel.name }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>{{ travel.name }} Billets</ion-card-header>
    <ion-card-content>
      <p *ngFor="let billets of travel.billets">{{ billets }}</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>{{ travel.name }} Hotels</ion-card-header>
    <ion-card-content>
      <p *ngFor="let hotels of travel.hotels">{{ hotels }}</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>{{ travel.name }} Activities</ion-card-header>
    <ion-card-content>
      <p *ngFor="let activity of travel.activity">{{ activity }}</p>
    </ion-card-content>
    <ion-grid>
      <form #f="ngForm" (ngSubmit)="onSubmitForm(f)">
        <ion-list>
          <ion-item>
            <ion-label>Date de début</ion-label>
            <ion-datetime displayFormat="MM/DD/YYYY" name="startTime" [(ngModel)]="travel.startDate"></ion-datetime>
          </ion-item>
          <ion-item>
            <ion-label>Date de fin</ion-label>
            <ion-datetime displayFormat="DD/MM/YYYY" name="endTime" [(ngModel)]="travel.endDate"></ion-datetime>
          </ion-item>
        </ion-list>
        <button type="button"
                ion-button
                full
                color="danger"
                (click)="onDeleteDate()">
          Supprimer Date
        </button>
        <button type="submit"
                ion-button
                full
                color="secondary">
          Enregistrer Date
        </button>
      </form>
      <!--ion-row>
        <ion-col>
          <button
            ion-button
            full
            color="blue"
            [disabled]="!travel.isDone"
            (click)="onToggleTravel()">Done</button>
        </ion-col>
      </ion-row-->
    </ion-grid>
  </ion-card>

</ion-content>
